.navbar-brand span {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    letter-spacing: 5px;
}

.nav-item {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

hr {
    text-align: left;
    width: 100%;
    margin-left: 0;
}
