html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}


.navbar.navbar-expand-lg.navbar-light {
    background-color: #4a2a39;
}

.navbar-brand span {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    letter-spacing: 5px;
    color: #ffffff;
}

.nav-item {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.navbar-brand img {
    width: 40px;
    height: 30px;
}

.nav-link.home {
    color: #85be27;
}

header {
   z-index: 1;
   min-height: auto;
   position: relative;
   height: 100vh;
   width: 100vw;
   min-height: auto;
   text-align: center;
   color: #fff;
   background-image: url("Images/amazing-sunset-hills-mountains.jpg");
   background-position: center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px 70px;
    text-align: center;
}

.header-content-inner h1 {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-size: 67px;
    margin-top: 260px;
}

.header-content-inner p {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.btn.btn-primary.btn-lg.rounded-pill {
    color: #ffffff;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-size: 16px;
    background-color: #85be27;
    padding: 18px 30px;
    outline: none;
    border: none;
    margin: auto;
    position: absolute;
    top: 130%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    letter-spacing: 2px;

   
}

.header-content-inner {
    margin: 30px;
   
}

.header-content {
    height: 454px;
}

.product-intro {
    background-color: #85be27;
    width: 100%;
    
}

.icon-apple {
    margin-bottom: 60px;
}

.icon-apple img {
    margin-top: 60px;
    width: 60px;
    height: 60px;
}

.icon-apple h2 {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.icon-apple p {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.container-intro {
    padding: 70px 0;
}

.img-fluid.rounded-circle.item-1 {
    width: 400px;
    height: 400px;
    margin-left: 10px;
    padding: 70px 0;
    
}

.item-1-header {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    margin-top: 100px;
}

p.lead.text-muted.item-1 {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.btn.btn-success.btn-lg.rounded-pill.item-1 {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    background-color: #85be27;
    border: none;
    font-size: 16px;
    letter-spacing: 2px;
    margin: auto;
}

.item-2-header {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    margin-top: 80px;
    margin-left: 130px;
}

p.lead.text-light.item-2 {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    margin-left: 130px;
}

.img-fluid.rounded-circle.item-2 {
    width: 400px;
    height: 400px;
    margin: auto;
    padding: 70px 0;
    
}

.btn.btn-light.btn-lg.rounded-pill {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    margin-left: 100px;
    font-size: 16px;
    letter-spacing: 2px;
    margin-left: 130px;
}

.col-md-6.second-image {
    width: 400px;
    height: 400px;
    margin-right: 160px;
    margin-left: none;
}

div.row.ads {
   display: flex;
}

.ads-content h3 {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-size: 40px;
    display: inline-block;
    vertical-align: middle;
}

.ads,
.ads h3,
.ads a:link,
.ads a:visited,
.ads a:hover,
.ads a:active {
    color: #ffffff;
    text-shadow: 0px 0px 40px #000000;
    text-decoration: none;
}

.ads-content {
    height: auto;
    width: auto;
    line-height: 180px;
    text-align: center;
}

.ads-content:hover {
    background-size: 110%; 
    border: 10px solid rgba(255,255,255,0.3);
    line-height: 160px;
}

.unleash.item-1 {
    background: url("Images/exam-school-with-student-s-taking-educational-admission-test-class-thinking-hard-writing-ans_756748-16697.jpg");
    background-size: cover;
	background-position: 50% 50%;
}

.synergize.item-2 {
    background: url("Images/worship.jpg");
    background-size: cover;
	background-position: 50% 50%;
}

.item-3 {
    background: url("Images/worship.jpg");
    background-size: cover;
	background-position: 50% 50%;
}

.push-pin-icon {
    width: 32px;
    height: 32px;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.item-4-header {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    text-align: center;
    margin-top: 10px;
}

p.lead.text-dark.item-4 {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    text-align: center;
}

a.btn.btn-success.btn-lg.rounded-pill.item-4 {
    background-color: #85be27;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-size: 16px;
    border: none;
    letter-spacing: 2px;
}

.contact-footer {
    padding: 100px 0;
    background-color: yellowgreen;
    color: #fff;
}

h1.footer-heading {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    text-align: center;
}

i.fa.fa-phone {
    font-size: 50px;
    text-align: center;
    width: 100%;

}

i.fa.fa-envelope {
    font-size: 50px;
    text-align: center;
    width: 100%;
}

.small-print p {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    padding: 50px;
}


@media only screen and (max-width: 768px) 
    /* For mobile phones: */ {

        header {
            height: 454px;
            
        }

        header .header-content {
            position: absolute;
            top: 50%;
            padding: 0 50px;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        header .header-content .header-content-inner {
            margin-right: auto;
            margin-left: auto;
            max-width: 1000px;
        }
    

        .header-content-inner h1 {
            font-size: 30px;
            margin-top: 160px;
            
        
        }

        header .header-content .header-content-inner {
            margin-right: auto;
            margin-left: auto;
            max-width: 1000px;
        }
    

        .header-content-inner p {
            font-size: 13px;
            line-height: 25px;
            margin: 2px;
            text-align: center;
            
        }

        .btn.btn-primary.btn-lg.rounded-pill {
            top: 80%;
            font-size: 16px;
        }

        .icon-apple {
            padding-top: 60px;
        }

        .icon-apple p {
            font-size: 14px;
        }

        .row img {
            margin: auto;
            width: 60px;
            height: 60px;
        }

        .img-fluid.rounded-circle.center-block.item-1 {
            width: 400px;
            height: 400px;
            padding: 70px 20px;
            margin: auto;
            
        }
        
        .item-1-header, p {
           margin: -40px 50px 0px 25px;
        }

        .lead.text-muted {
            font-size: 14.5px;
            line-height: 25px;
        }

        .btn.btn-success.btn-lg.rounded-pill.item-1 {
            margin-left: 25px;
            margin-bottom: 60px;
        }

        .item-2-header {
            text-align: left;
            margin-left: 25px;
            margin-top: 60px;
        }
        
        p.lead.text-light.item-2 {
            text-align: left;
            margin-left: 25px;
            font-size: 14px;
            line-height: 25px;
        }
        
        .btn.btn-light.btn-lg.rounded-pill {
            position: relative;
            right: 275px; 
        }

        .col-md-6.second-image {
            align-items: flex-start;
        }

        p.lead.text-dark.item-4 {
            font-size: 16px;
            line-height: 25px;
            margin: 10px;
            
        }

        a.btn.btn-success.btn-lg.rounded-pill.item-4 {
            margin: 20px 0 20px 20px;
        }

        .small-print p {
            font-size: 13px;
        }
        

    }
